body {
	margin: 0;
}

#container {
	background: url("bg.jpg") no-repeat left top;
	height: 100%;
	width: 100%;
	position: absolute;
/*	background: url("bg.jpg") no-repeat center center fixed;
*/	background-size: cover;
}

#app {
	h1 {
		color: white;
		font-family: Arial, Helvetica, sans-serif;
		margin-left: 25px;
		.highlight {
			color: lightblue;
			font-weight: bold;
		}
	}
	.idInput {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		margin: auto;
		width: 323px;
		height: 0px;
		input {
			width: 240px;
			height: 25px;
			padding-left: 10px;
			font-size: 14px;
		}
		button {
			width: 58px;
			height: 31px;
			font-size: 14px;
			margin-left: 10px;
		}
		p {
			color: red;
		}
		h3 {
			color: white;
		}
	}
}